
.title_popup {

    margin-top:0px;
    border-radius:0px;
    position: relative;

}

.cont_popup {

    margin-bottom:0px;

}

.close_icon {

    color: #fff;
    position:absolute;
    right:5px;

}

a.close_icon:hover {

    color: #ccc;

}
