<%inherit file="dashboard.phtml"/>
<%block name="content">
<p><a href="${url_for('admin_app.pastafari2_dashboard')}">${lang('pastafari2', 'servers', 'Servers')}</a> &gt;&gt; <a href="${url_for('admin_app.pastafari2_edit_update', server_id=server_data['id'])}">${server_data['hostname']}</a></p>
<div id="scripts_list" class="form">
% for script in scripts:

<p>${script['name']}<input type="hidden" class="position" id="position_${script['id']}" value="${script['position']}"></p>

% endfor
</div>
<p><input type="button" value="${lang('pastafari2', 'change_scripts_order', 'Change scripts order')}" id="change_order" /></p>
<p><a href="${url_for('admin_app.pastafari2_dashboard')}">${lang('pastafari2', 'servers', 'Servers')}</a> &gt;&gt; <a href="${url_for('admin_app.pastafari2_edit_update', server_id=server_data['id'])}">${server_data['hostname']}</a></p>
</%block>
<%block name="jscript_block">
<script type="text/javascript" src="${make_media_url('js/Sortable.min.js', 'pastafari2')}"></script>
<script>
sortable_list=document.getElementById('scripts_list');

        sortable_var=new Sortable(sortable_list, {
            animation: 150,
            /*ghostClass: 'blue-background-class'*/
        });

$('#change_order').click(function () {

    $('#layer_loading').show();
    
    var order_id=[];
    
    $('.position').each(function () {
    
        var item_id=$(this).attr('id').replace('position_', '');
        
        order_id.push(item_id);
    
    });

    $.ajax({
            type: 'POST', 
            url:"${url_for('admin_app.pastafari2_save_positions', server_id=server_data['id'])}",
            data: {order_id: JSON.stringify(order_id)},
            success: function (data) {
            
                $('#layer_loading').hide();
            
                if(!data.error) {
                    
                  
                    alert("${lang('pastafari2', 'positions_updated', 'Positions updated')}");
                    
                }
                else {
                    
                    alert(data.txt_error);
                    
                }
                
                //$('#layer_loading').hide();
            
            },
            error: function (data) {
            
                $('#layer_loading').hide();
                alert('Error: '+data.status+' '+data.statusText);
            
            },
            dataType: 'json',
        
        });

    return false;

});

</script>
</%block>
