<%inherit file="dashboard.phtml"/>
<%block name="content">
<p><a href="${url_for('.pastafari2_dashboard')}">${lang('pastafari2', 'servers', 'Servers')}</a> &gt;&gt; ${lang('pastafari2', 'delete_server', 'Delete server')}</p>
<div class="form">
<form method="post" id="delete_server">
<p>${server['hostname']}</p>
<input type="hidden" name="server_id" value="${server_id}" />
<p><input type="submit" value="${lang('pastafari2', 'delete_server_question', 'Confirm delete server?')}" /></p>
</form>
</div>
<p><a href="${url_for('.pastafari2_dashboard')}">${lang('pastafari2', 'servers', 'Servers')}</a> &gt;&gt; ${lang('pastafari2', 'delete_server', 'Delete server')}</p>
</%block>
<%block name="jscript_block">
<script language="Javascript" src="${make_media_url('js/jsutils/posting2.js', 'pastafari2')}"></script>
<script>

var options={url: "${url_for('admin_app.pastafari2_delete_server_db')}", loading: '#layer_loading', pre_callback: function (data) {
    
    //alert('This action overwrite all ssh keys');
    
}, success: function (data) {
        
        location.href="${url_for('admin_app.pastafari2_dashboard')}";
    
    }
};

$('#delete_server').sendPost(options);
</script>
</%block>
