<%inherit file="dashboard.phtml"/>
<%block name="content">
<h2>${lang('pastafari2', 'edit_update_server', 'Add and order scripts for ')} ${server_scripts['name']}</h2>
<br />
<p><a href="${url_for('admin_app.pastafari2_dashboard')}">${lang('pastafari2', 'servers_tasks', 'Servers tasks')}</a> &gt;&gt; ${server_scripts['name']}</p>
${edit_update|n}
<p><a href="${url_for('admin_app.pastafari2_dashboard')}">${lang('pastafari2', 'servers_tasks', 'Servers tasks')}</a> &gt;&gt; ${server_scripts['name']}</p>
<input type="button" value="${lang('pastafari2', 'change_scripts_order', 'Change scripts order')}" onclick="location.href='${url_for('admin_app.pastafari2_change_order_scripts', server_id=server_scripts['id'])}';"/>
</%block>
<%block name="jscript_block">
<script type="text/javascript" src="${make_media_url('js/Sortable.min.js', 'pastafari2')}"></script>
<script>

</script>
</%block>
