<%inherit file="dashboard.phtml"/>
<%block name="content">
${links|n}
<form method="post" name="update_servers" id="update_servers" action="${url_exec|n}">
${form|n}
<input type="hidden" name="ids" value="${ids|h}" />
<input type="hidden" name="task" value="${task_file}" />
<br />
<p><input  type="submit" value="${lang('pastafari','execute_task', 'Execute task')}" /></p>
</form>
${links|n}
</%block>
<%block name="jscript_block">
<script language="Javascript" src="${make_media_url('js/jsutils/posting2.js', 'pastafari2')}"></script>
<script language="Javascript" src="${make_media_url('js/jsutils/ajax_list.js', 'pastafari2')}"></script>
<script>

var options={url: "${url_exec|n}", loading: '#layer_loading', success: function (data) {
    
    task_id=data.task_id;
    
    if(task_id>0) {
    
        location.href="${url_for('.pastafari2_multiprogress')}?task_id="+task_id;
        
    }
    
}, error_data: function (data) {
    
        console.log(JSON.stringify(data));
    }

};

jQuery('#update_servers').sendPost(options);

</script>
</%block>
