<%inherit file="dashboard.phtml"/>
<%block name="content">
<div id="principal_container">
<form method="post" name="generate_key" id="generate_key">
    <h2>${lang('pastafari2', 'global_ssh_keys', 'Global ssh keys')}</h2>
    <div class="form">
        ${txt_error|n}
        ${txt_generate_key|n}
    </div>
    % if not regenerate:
    <p><input type="submit" value="${txt_generate_key_button}" /></p>
    
    % endif
</form>
</div>
</%block>
<%block name="jscript_block">
<script language="Javascript" src="${make_media_url('js/jsutils/ajax_list.js', 'pastafari2')}"></script>
<script language="Javascript" src="${make_media_url('js/jsutils/posting2.js', 'pastafari2')}"></script>
<script>

% if not regenerate:

var options={url: "${url_for('admin_app.pastafari2_edit_global_ssh_keys')}", loading: '#layer_loading', pre_callback: function (data) {
    
    //alert('This action overwrite all ssh keys');
    
}, success: function (data) {
    
        /*$('#added_alert_success').show();
        
        
        setTimeout(function () {
            
            $('#added_alert_success').fadeOut();
            
        }, 3000);*/
        
        location.href="${url_for('admin_app.pastafari2_settings')}";
    
    }
};

$('#generate_key').sendPost(options);

% endif

</script>
</%block>
